p {
  font-size: 3em;
  color: #565656;
  width: 100%;
  text-align: center;
}

::ng-deep svg {
  overflow: hidden;
  height: 50% !important;
}

#containerTitle {
  color : white; 
  text-align: center;
}

#header {
  margin-bottom: 30px;
}

#container {
  text-align: center;
}

#container p {
  display: inline;
}

#hourLabel {
  color: #bae67e;
}

#minSecLabel {
  color: #e5b0ea;
}
